.big-image-container {
    padding-bottom: 75%; 
    border-radius: 20px; 
    background: no-repeat center/cover;
}

.text-full-width .title-product {
    font-size: 14px;
    font-weight: 800;
}

.title-product {
    line-height: 1.5em;
    height: 2.75em;
    overflow: hidden;
}

.product-card {
    text-align: left;
    text-decoration: none;
    color: black;
}