.notif-container {
    height: 600px;
    width: 500px;
    overflow-y: auto;
    padding-top: 10px;
    padding-bottom: 10px;
}

.title-time {
    background-color: #ECECFF;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.13);
}
