.profile-info {
    text-align: left;
    padding-left: 0;
}

.coin {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}

.coin-info {
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    font-size: 20px;
    margin-top: 20px;
}

.coin-text {
    margin-right: 20px;
}

.short-bio {
    margin-left: 0;
    margin-right: 0;
    font-weight: 400;
    font-size: 16px;
    margin-top: 20px;
}