.notif-img-container {
    border-radius: 50%;
    height: 0;
    padding-bottom: 10%;
    background: no-repeat center/cover;
}

.notif-appointment-note {
    font-size: 10px;
}

.notif-btn {
    padding: 0px 10px 0px 10px;
    margin: 0;
}