.product-details {
    width: 100%;
    font-size: 11px;
    font-weight: 600;
}

.detail-icon {
    width: 5%;
    color: grey;
}

.detail-label {
    width: 25%;
    color: grey;
}

.detail-info {
    width: 70%;
    color: black;
}

tr.detail-row>td {
    padding-bottom: 5px;
}

.available-payment {
    margin-top: 10px;
}

.payment-icon {
    width: 100%;
}

.payment-icon-container {
    border-radius: 12px;
    padding: 5px;
}

.payment-icon-container:hover {
    background-color: #e8f0ff;
    box-shadow: 0 3px 10px -2px rgba(0,0,0,.13);
}

.image-gallery-image {
    border-radius: 16px !important;
}