.search-title {
    font-weight: 600;
    text-align: left;
    color: #8DA2CB;
}

.search-term {
    font-weight: 700;
    color: black;
}

.search-filter-text {
    text-align: left; 
    margin-top: 10px; 
    margin-left: 10px;
}

.search-container {
    margin-top: 50px;
}

.price-input {
    padding: 10px;
    font-size: 14px;
}