.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

* {
  font-family: "Poppins";
}

.logo {
  width: 100px;
}

.price {
	margin-bottom: 8px;
	font-size: 18px;
	font-weight: 700;
	color: orange !important;
}

.custom-container {
  width: 100%;
  padding-left: 100px;
  padding-right: 100px;
}

.category-title {
  font-weight: 700;
  font-size: 18px;
  text-align: left;
}

.category-subtitle {
  font-weight: 500;
  font-size: 14px;
  text-align: left;
  color: black;
  opacity: 0.5;
}

.bp3-tab[aria-selected="true"], .bp3-tab:not([aria-disabled="true"]):hover {
  font-weight: 700;
  font-size: 20px;
  color: #EF7132;
}

.bp3-tab-indicator-wrapper .bp3-tab-indicator {
  background-color: #EF7132;
}

.bp3-tab-indicator-wrapper ~ .bp3-tab {
  font-size: 20px;
}

.image-gallery-slides {
  border-radius: 20px;
}

.image-gallery-thumbnail.active, .image-gallery-thumbnail:hover, .image-gallery-thumbnail:focus {
  border-radius: 10px;
  border: 4px solid #EF7132 !important;
  z-index: 123121;
}

.image-gallery-thumbnail .image-gallery-thumbnail-image {
  border-radius: 5px;
}

.toolbar {
  background: #1B479E;
  border-radius: 8px 8px 0px 0px;
  position: fixed;
  bottom: 0;
  z-index: 201938481;
  height: 75px;
}

.vertical-center {
  -ms-transform: translateY(50%);
  transform: translateY(50%);
}

.avatar {
  border-radius: 50%;
  object-fit: cover;
}

.avatar-navbar {
  max-width: 24px;
}

.avatar-notif {
  max-width: 50px;
}

.col-2dot4 {
  -ms-flex: 0 0 20%;
  flex: 0 0 20%;
  max-width: 20%;
}

.bp3-tab-list {
  border-bottom: 1px solid #E4EDFF;
}

.content {
  border-radius: 12px;
}

.content-shadow-product {
  box-shadow: 0 3px 10px -2px rgba(0,0,0,.13);
}

.no-shadow {
  box-shadow: none !important;
}

.fab-container {
  position: fixed;
  bottom: 50px;
  right: 50px;
  z-index: 999999999999;
}

.notif-img-container {
  border-radius: 50%;
  height: 0;
  padding-bottom: 10%;
  background: no-repeat center/cover;
}

.bp3-transition-container {
  z-index: 9999999999;
}

.notif-row {
  padding: 2px 20px 2px 20px;
  margin-bottom: 5px;
}

.notif-row-header {
  width: 100%;
}

.divider-space-content {
  margin: 2px 10px 2px 10px;
  border: 1px solid #E0E5EE;
}

.general-btn {
	background-color: #EF7132 !important;
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.general-washout-btn {
	background-color: #CDCDCD !important;
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.general-disabled-btn {
	background-color: #FFD4BE !important;
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.general-reject-btn {
	background-color: #B71C1C !important;
  font-weight: 700;
  height: 40px;
  text-align: center;
  line-height: 40px;
}

.bp3-overlay-scroll-container {
  z-index: 99999999999 !important;
}

